/*=============== PRODUCTS ===============*/
.product{
    &__description{
        text-align: center;
    }
    &__container{
        padding: 3rem 0;
        // grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 这里的250px是产品卡的最小宽度，可以根据需要进行调整 */
        gap: 2rem; /* 设置产品卡之间的间隙 */
        justify-items: center; /* 使每个产品卡在其格子中居中显示 */
    }
    &__card{
        display: grid;
        position: relative;

        &:hover .product__img{
            transform: translateY(-.5rem);
        }
    }
    &__info{
        opacity: 0;
        transition: opacity .3s;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7); 
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__img{
        position: relative;
        width: 120px;
        justify-self: center;
        margin-bottom: var(--mb-0-75);
        transition: .3s;
    }
    &__title,
    &__price{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__title{
        margin-bottom: .25rem;
    }
    &__button{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--first-color);
        color: #FFF;
        padding: .25rem;
        border-radius: .35rem;
        font-size: 1.15rem;

        &:hover{
            background-color: var(--first-color-alt);
        }
    }
    &__circle{
        width: 90px;
        height: 90px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        position: absolute;
        top: 18%;
        left: 5%;
    }
}